AZURE_SUBSCRIPTION_ID=
RESOURCE_GROUP=rg-rag-system-dev
LOCATION=eastus

ACR_NAME=ragsystemacrdev
AKS_NAME=aks-rag-system-dev
AKS_NODE_COUNT=1
AKS_VM_SIZE=Standard_B2s
AKS_NAMESPACE=rag-system-dev
AKS_ENABLE_APP_ROUTING=true
AKS_ENABLE_KEYVAULT_CSI=true

KEY_VAULT_NAME=kv-rag-system-dev001
KEY_VAULT_SECRET_NAMES=OPENAI_API_KEY

IMAGE_NAME=rag-system
IMAGE_TAG=v1

HELM_RELEASE_NAME=rag-system
INGRESS_HOST=rag.example.com
TLS_SECRET_NAME=rag-system-tls
