azure-ai-projects>=2.0.0
# azure-ai-agents (deprecated, merged into azure-ai-projects v2+)
azure-search-documents
azure-ai-documentintelligence
azure-identity
azure-eventhub
mcp
python-dotenv
pydantic
openai
azure-ai-evaluation
fpdf2
