AZURE_SUBSCRIPTION_ID=
RESOURCE_GROUP=rg-<service-name>-dev
LOCATION=eastus

ACR_NAME=<serviceacrname>
AKS_NAME=aks-<service-name>-dev
AKS_NODE_COUNT=1
AKS_VM_SIZE=Standard_DC2as_v5
AKS_NAMESPACE=<service-name>-dev
AKS_ENABLE_APP_ROUTING=true
AKS_ENABLE_KEYVAULT_CSI=true

KEY_VAULT_NAME=kv-<service-name>-dev001
KEY_VAULT_SECRET_NAMES=OPENAI_API_KEY

IMAGE_NAME=<service-name>
IMAGE_TAG=v1

HELM_RELEASE_NAME=<service-name>
INGRESS_HOST=<service-subdomain>.example.com
TLS_SECRET_NAME=<service-name>-tls
