AZURE_SUBSCRIPTION_ID=
RESOURCE_GROUP=rg-research-agent-dev
LOCATION=eastus

ACR_NAME=researchagentacr12345
AKS_NAME=aks-research-agent-dev
AKS_NODE_COUNT=1
AKS_VM_SIZE=Standard_B2s
AKS_NAMESPACE=research-agent-dev
AKS_ENABLE_APP_ROUTING=true
AKS_ENABLE_KEYVAULT_CSI=true

KEY_VAULT_NAME=kv-research-agent-dev-12345
KEY_VAULT_SECRET_NAMES=OPENAI_API_KEY

IMAGE_NAME=research-agent
IMAGE_TAG=v1

HELM_RELEASE_NAME=research-agent
INGRESS_HOST=research.purpletechllc.com
TLS_SECRET_NAME=research-agent-tls
