fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
requests
python-multipart

openai
tiktoken
langchain
langchain-core
langchain-openai
langchain-community
langchain-chroma
langchain-qdrant
langchain-text-splitters

chromadb
qdrant-client
pypdf
unstructured
unstructured[md]
